.container {
    border: 1px solid;
    display: flex;
    height: 960px;
    width: 960px;
    flex-direction: column;
}

.childAdd {
    display: flex;
    height: 100%;
    width: 100%;
}

.subChildAdd {
    border: 1px solid;
    height: 100%;
    width: 100%;
}